[submodule "opus"]
	path = o
	url = https://gitlab.xiph.org/xiph/opus
[submodule "daala"]
	path = d
	url = https://gitlab.xiph.org/xiph/daala
[submodule "Mozilla🦊"]
	path = Mozilla🦊
	url = https://github.com/mozilla/gecko-dev
[submodule "lush/mupdf"]
	path = lush/mupdf
	url = https://github.com/ArtifexSoftware/mupdf
