[submodule "opus"]
	path = o
	url = https://gitlab.xiph.org/xiph/opus
[submodule "daala"]
	path = d
	url = https://gitlab.xiph.org/xiph/daala
[submodule "q"]
	path = q
	url = https://github.com/id-Software/Quake
